<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="db" connectionString="Server=DESKTOP-HN0UKT6\SQLDEVELOPER;Database=Anul2Sem2SGBDLab1;Trusted_Connection=yes"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="fk" value="fk_Site"/>
    <add key="idDecoratiune" value="idDecoratiune"/>
    <add key="ColDecoratiune" value="nume,pret,provenienta,material,fk_Site,fk_Descriere" />
    <add key="ValueColDecoratiune" value="@nume, @pret, @provenienta, @material, @fk_Site,@fk_Descriere" />
    <add key="SelectParent" value="select * from SiteVanzari" />
    <add key="SelectChild" value="select * from Decoratiune where fk_Site = @id" />
    <add key="InsertChild" value="insert into Decoratiune (nume,pret,provenienta,material,fk_Site,fk_Descriere) values (@nume, @pret, @provenienta, @material, @fk_Site,@fk_Descriere)"/>
    <add key="DeleteChild" value="delete from Decoratiune where idDecoratiune=@id" />
    <add key="UpdateChild" value="update Decoratiune set nume=@nume, pret=@pret,provenienta=@provenienta, material=@material, fk_Site=@fk_Site ,fk_Descriere=@fk_Descriere where idDecoratiune=@idDecoratiune" />  
  </appSettings>-->
  <appSettings>
    <add key="fk" value="fk_Descriere"/>
    <add key="idDecoratiune" value="idDecoratiune"/>
    <add key="ColDecoratiune" value="nume,pret,provenienta,material,fk_Site,fk_Descriere" />
    <add key="ValueColDecoratiune" value="@nume, @pret, @provenienta, @material, @fk_Site,@fk_Descriere" />
    <add key="SelectParent" value="select * from Descriere" />
    <add key="SelectChild" value="select * from Decoratiune where fk_Descriere = @id" />
    <add key="InsertChild" value="insert into Decoratiune (nume,pret,provenienta,material,fk_Site,fk_Descriere) values (@nume, @pret, @provenienta, @material, @fk_Site,@fk_Descriere)"/>
    <add key="DeleteChild" value="delete from Decoratiune where idDecoratiune=@id" />
    <add key="UpdateChild" value="update Decoratiune set nume=@nume, pret=@pret,provenienta=@provenienta, material=@material, fk_Site=@fk_Site ,fk_Descriere=@fk_Descriere where idDecoratiune=@idDecoratiune" />
  </appSettings>
  <!--<appSettings>
    <add key="fk" value="fk_Descriere"/>
    <add key="idDecoratiune" value="fk_Site"/>
    <add key="ColDecoratiune" value="nume,pret,provenienta,material,fk_Site,fk_Descriere" />
    <add key="ValueColDecoratiune" value="@nume, @pret, @provenienta, @material, @fk_Site,@fk_Descriere" />
    <add key="SelectParent" value="select * from Descriere" />
    <add key="SelectChild" value="select * from Site_Descriere where fk_Descriere = @id" />
    <add key="InsertChild" value="insert into Site_Descriere (fk_Site,fk_Descriere) values (@fk_Site,@fk_Descriere)"/>
    <add key="DeleteChild" value="delete from Site_Descriere where fk_Site=@id" />
    <add key="UpdateChild" value="update Site_Descriere set fk_Site=@fk_Site ,fk_Descriere=@fk_Descriere where fk_Site=@fk_Site" />
  </appSettings>-->
</configuration>